body {
	font-family: arial;
	font-size: 14px;
}

a {
	color: red;
}

p {
	font-size: 14px;
	line-height: 16px;
}

label {
	cursor: pointer;
}

h1 {
	margin: 20px 0;
	font-size: 24px;
}

div.container {
	margin: 20px;
	width: 800px;
}

table.form th {
	font-weight: normal;
	text-align: right;
}


table.form th,
table.form td {
	vertical-align: top;
	font-size: 14px;
}


div.section {
	margin-bottom: 20px;
	overflow: hidden;
}

div.section div.inner {
	padding: 0 0 20px 20px;
}

h2 {
	font-size: 16px;
	margin: 0;
}

div.section h2 {
	color: red;
	border-bottom: 1px solid red;
}

div.other_person {
	margin: 14px 0 10px 0;
	padding: 5px 5px 15px 5px;
	width: 500px;
	border: 1px dashed #aaa;
	background: #f5f5f5;
}

div.add_people {
}

div.add_people input {
	font-size: 16px;
}

p.dates select {
	font-size: 16px;
}


h3 {
	font-size: 14px;
	margin: 0 0 14px 0;
}

a.remove {
	float: right;
	font-size: 12px;
	font-weight: normal;
	color: #f00;
	margin-right: 10px;
}

div.additional_date_range {
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
	background: #f5f5f5;
	margin-left: -5px;
	padding-left: 5px;
}
div#date_ranges {
	width:550px;
}
div#people {
	width:500px;
}
table.parentage td {
	font-size: 14px;
	vertical-align: middle;
	padding-right: 5px;
}

table.parentage th {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	padding-right: 5px;
}

table.prices td {
	font-size: 14px;
	vertical-align: middle;
	padding-right: 10px;
	border-top: 1px dotted #ddd;
}

table.prices th {
	text-align: left;
	font-size: 12px;
	padding-right: 10px;
}

div.schedule {
	float: right;
	width: 200px;
	margin: 16px 0 0 30px;
}

div.schedule ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #666;
}

div.schedule h3 {
	color: #333;
	font-size: 12px;
	margin: 0 0 6px 0;
}

table.itinerary {
	border-collapse: collapse;
	font-size: 14px;
	width: 100%;
}


table tr.program td {
	background: #eee;
	padding: 5px;
}

table tr.no_program td {
	background: #fff;
}

table.invoice td {
	font-size: 14px;
	padding: 3px 20px 3px 3px;
}

table.invoice th {
	text-align: left;
font-size: 14px;
}

table.invoice tr.person td {
	border-top: 1px solid #000;
}

table.invoice tr.grand_total td {
	border-top: 2px solid #000;
font-weight: bold;
}
