<div class="schedule">
	<h3>Summer Course schedule</h3>
	<ul>
		<li>Tue 4 Aug - Amithaba initiation</li>
		<li>Wed 5 Aug - Phowa</li>
		<li>Thu 6 Aug - Phowa</li>
		<li>Fri 7 Aug - Phowa</li>
		<li>Sat 8 Aug - Phowa</li>
		<li>Sun 9 Aug - Phowa, Lecture, 72h</li>
		<li>Mon 10 Aug - 72h</li>
		<li>Tue 11 Aug - 72h</li>
		<li>Wed 12 Aug - 72h - party</li>
		<li>Thu 13 Aug - Chenresig initiation, public lecture</li>
		<li>Fri 14 Aug - mahamudra shamarpa</li>
		<li>Sat 15 Aug - mahamudra shamarpa</li>
		<li>Sun 16 Aug - mahamudra shamarpa, initiation</li>
	</ul>
</div>