<div class="schedule">
	<h3>Summer Course schedule</h3>
	<table>
		<% ProgramDay.all.each do |program_day| %>
		<tr><td><%= format_date(program_day.date) %></td><td class="right"><%= "#{program_day.description}"%></td></tr>
		<% end %>
	</table>
</div>