<table class="itinerary">
	<% @booking.days_in_itinerary.each do |day| %>
	<tr class=<%= in_program?(day[:date]) ? "program" : "no_program" %>>
		<td><%= day[:arriving_or_departing] %></td>
		<td><%= format_date(day[:date]) %></td>
		<td><%= day[:program] %></td>
	</tr>
	<% end %>
</table>