<table class="invoice" style="border-collapse: collapse; margin-top: 20px;">
	<tr>
		<th>Person</th>
		<th>Price Class</th>
		<th>Price </th>
		<th>Days</th>
		<th>Total</th>
	</tr>
	<% @booking.people.each do |person| %>
		<tr class="person">
			<td rowspan="2"><%= @booking.adults.first.first_name + "<br />" + @booking.adults.first.last_name %></td>
			<td>Summer Course Days [EU Resident]</td>
			<td>45</td>
			<td><%= @days %></td>
			<td>450</td>
		</tr>
		<tr>
			<td>Before/After Days [Helper]</td>
			<td>10</td>
			<td>3</td>
			<td>30</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>Total</td>
			<td>480</td>
		</tr>
	<% end %>
</table>