<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h2>International Summer Course 2009 Registration Confirmation</h2>
	<p>You have successfully registered for the International Summer Course 2009.</p>
	<p>To review your itinerary and payment options, please follow this link: <%= booking_url @booking %></p>
	<p>If you would like to change your registration, just follow this link: <%= edit_booking_url @booking %></p>
	<p>Thank you for registering and have a great day!</p>
</body>
</html> 