<div class="schedule">
	<h3>Summer Course schedule</h3>
	<ul>
		<li>Tue 4 Aug - Lecture</li>
		<li>Wed 5 Aug - Kalachakra Initiation</li>
		<li>Thu 6 Aug - Kalachakra Initiation</li>
		<li>Fri 7 Aug - Lecture</li>
		<li>Sat 8 Aug - 17th Karmapa Teachings</li>
		<li>Sun 9 Aug - 17th Karmapa Teachings</li>
		<li>Mon 10 Aug - Phowa</li>
		<li>Tue 11 Aug - Phowa</li>
		<li>Wed 12 Aug - Phowa</li>
		<li>Thu 13 Aug - Phowa</li>
		<li>Fri 14 Aug - Phowa</li>
		<li>Sat 15 Aug - Lecture</li>
		<li>Sun 16 Aug - Lecture</li>
	</ul>
</div>