<div class=<%= additional(date_range) ? "additional_date_range" : "date_range" %>>
  <%= link_to_function "Remove this date range", "$(this).up('.additional_date_range').remove()", :class => 'remove' if additional(date_range) %>
	
  <% new_or_existing = date_range.new_record? ? 'new' : 'existing' %>
  <% prefix = "booking[#{new_or_existing}_date_range_attributes][]" %>
  <% fields_for prefix, date_range, :builder => ErrorHandlingFormBuilder do |date_range_form| %>
    <%= render :partial => 'date_range_form', :locals => { :f => date_range_form, :new_record => new_or_existing }, :layout => 'layouts/form' %>
  <% end %>
</div>